.flights-summary {
  font-size: 1.5rem;
}

.airport-info {
  max-width: 100px;
}

.airline-panel > div:first-child {
  margin-bottom: 20px;
}

.airline-summary {
  width: 5em;
  font-size: 1em;
}

.airline-summary-count {
  font-size: 1.2em;
}

.filter-text {
  width: 10em;
}

/* .container {
  display: flex;
  flex-direction: column;
  column-gap: 1rem;
}

table {
  border-collapse: separate;
  border-spacing: 30px 0;
}

td {
  padding: 5px 0;
}

.List-details > span {
  display: block;
  font-size: 1rem;
}

.List-status > span {
  display: block;
  font-size: 1rem;
}

input {
  width: 100%;
  font-size: 1rem;
  padding: 0.2rem;
} */