a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
}

.plane-photo {
  width: 120px;
}

.status-icon {
  margin-right: 5px;
}

.flight-info-container div:first-child {
  margin-bottom: 5px;
}

.status-container div:first-child {
  margin-bottom: 5px;
}